body {
    font-family: arial, sans-serif;
}

.toolbar {
    position: absolute;
    top: 16px;
    right: 30px;
    display: flex;
}

.toolbar .links a {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    font-size: 13px;
    line-height: 31px;
    padding-left: 11px;
}

.toolbar .links a:hover {
    text-decoration: underline;
}

.toolbar .apps-icon {
    background-image: url(../img/google-sprite.png);
    background-position: -132px -38px;
    background-size: 528px 68px;
    height: 30px;
    width: 30px;
    color: #000;
    opacity: .55;
    margin: 0 15px;
}

.toolbar .user-photo {
    border-radius: 50%;
    margin: -1px;
    height: 32px;
    width: 32px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 89px;
}

.content .logo {
    height: 92px;
    width: 272px;
    padding-top: 109px;
}

.content .search {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    margin-top: 27px;
    width: 482px;
}

.content .actions {
    margin-top: 18px;
}

.content .actions button {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}